* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
}

body {
    background-color: rgb(39, 39, 39);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.404);
}

img.banner {
    width: 100%;
}

iframe.video {
    width: 100%;
}

img.back {
    width: 25px;
}

img.lado {
    float: right;
    width: 100px;
}
